What does it mean to NOT nominate candidatePair?

The steps to [nominate a candidate pair](https://w3c.github.io/webrtc-extensions/#rtcicetransport-nominate) say: _"If accepted is false, instruct the ICE agent to not [nominate](https://w3c.github.io/webrtc-extensions/#dfn-nominate) candidatePair, and instead to continue to perform connectivity checks."_

What does it mean to _"not [nominate](https://w3c.github.io/webrtc-extensions/#dfn-nominate)"_? Can we just say _"instruct the ICE agent to continue to perform connectivity checks"_?

Or is it a nomination ban for that particular pair forever? If not, how long should the agent wait before trying again?

A non-normative note (with normative MAY?) suggests that calling [setSelectedCandidatePair](https://w3c.github.io/webrtc-extensions/#dom-rtcicetransport-setselectedcandidatepair) allows the agent to nominate again, but is that the only case?

<img width="788" alt="image" src="https://github.com/w3c/webrtc-extensions/assets/3136226/14179087-acf2-407d-abd1-d963d4ba095c">

Some clarifications of how and when the ICE agent is expected to respond would be useful for interoperability.


cc @sam-vi 

It continues: _"The [ICE agent](file:///Users/jan-ivar/moz/git/webrtc-extensions/index.html#dfn-ice-agent) may continue to send data using the candidate pair indicated by candidatePair unless instructed to use another candidate pair with [setSelectedCandidatePair](file:///Users/jan-ivar/moz/git/webrtc-extensions/index.html#dom-rtcicetransport-setselectedcandidatepair)."_

Is this _"may"_ a normative MAY, or a MUST? If not, we could use _"will"_ and use a non-normative note if this is just an observation.

It's a bit tricky since we seem to be modifying ICE agent behavior here.

"not nominate" means that the ICE agent should continue to perform connectivity checks and maybe propose another candidate pair for nomination.

[RFC8445 section 8.1.1](https://www.rfc-editor.org/rfc/rfc8445#section-8.1.1) permits this flexibility:

> The criteria for stopping the connectivity checks and for picking a pair for nomination are outside the scope of this specification. They are a matter of local optimization.

So whether a cancelled nomination is a ban or a deferral for a certain period is an implementation detail of the ICE agent. This shouldn't affect interoperability because the exact behaviour wasn't constrained to begin with by RFC8445 (or by webrtc-pc).

The non-normative note could be extended to clarify that the same candidate pair could be nominated again either by the ICE agent or as a result of setSelectedCandidatePair.


> It continues: _"The ICE agent may continue to send data using the candidate pair indicated by candidatePair unless instructed to use another candidate pair with setSelectedCandidatePair."_
> 
> Is this _"may"_ a normative MAY, or a MUST? If not, we could use _"will"_ and use a non-normative note if this is just an observation.
> 
> It's a bit tricky since we seem to be modifying ICE agent behavior here.

This is not a normative statement, and the intention is not to modify ICE agent behaviour. This refers to [RFC8445 section 12.1](https://www.rfc-editor.org/rfc/rfc8445#section-12.1):

> An ICE agent MAY send data on any valid pair before selected pairs have been produced for the data stream.

So your suggestion to change to "will" and extract out the observation into a non-normative note makes sense.

I can draft a PR with the clarifications.

Understood. Algorithms however normally detail what steps to take, not steps not to take (which I think risks introducing ambiguity about when steps _are_ done). How about:

_"8. If accepted is false, abort these steps and instruct the [ICE agent](https://w3c.github.io/webrtc-extensions/#dfn-ice-agent) to continue to perform connectivity checks."_

...and put the rest in a note?

Note: The [ICE agent](https://w3c.github.io/webrtc-extensions/#dfn-ice-agent) will continue to send data using the candidate pair indicated by candidatePair unless instructed to use another candidate pair with [setSelectedCandidatePair](https://w3c.github.io/webrtc-extensions/#dom-rtcicetransport-setselectedcandidatepair).

Aborting the steps to ahead of the final step to _"instruct the [ICE agent](https://w3c.github.io/webrtc-extensions/#dfn-ice-agent) to [nominate](https://w3c.github.io/webrtc-extensions/#dfn-nominate) the candidate pair indicated by candidatePair."_ is hopefully clear enough.