Need API surface to control RTX and FEC for use with RRID

At the moment, there is no control surface for turning on and off RTX and FEC for specific RTP streams.

When contemplating RTX, it seems that we should support RRID (RFC 8851 section 4) so that we can use it without SDP negotiation of SSRCs. At the moment, we can't.

But we should also want some way of turning RTX/FEC on and off, at least at stream configuration time.

Discuss.

agree,  currently user can only achive this via mung SDP. 
and RTX/FEC is only for video, there is no RTX/outband FEC for audio,  
audio nack is disabled by default, but most platform(include google meet) activate it via mung sdp in answer of sfu（add a=rtcp-fb:xx nack audio sdp media line)，[the bug open several years](https://bugs.chromium.org/p/webrtc/issues/detail?id=4543), it's time to unified such case.

Shouldn't RTX support be solved with https://github.com/w3c/webrtc-extensions/issues/100 ?

Also, not sure if I understand the relationship with RRIDs. AFAIK, RRIDS are only required for the RTX stream if the media stream uses RIDs, which only happens when using simulcast. And if simulcast is used, RRIDs should used by default.

If no simulcast is used, RTX should be demuxed by MID and payload type. 

One way of handling this would be via [`RTCRtpCodingParameters`](https://draft.ortc.org/#rtcrtpcodingparameters*).